#heading1{
  font-family: 'Oswald', sans-serif;
color: whitesmoke;
  text-align: center;
}

body{
  background-color: black;
}

header{
  display: flex;
  justify-content: space-around;
}
header>span{
  color: white;
  border: 1px solid white;
  display: flex;
  padding: 10px;
  text-align: center;
  justify-content: space-around;
  inline-size: auto;
}

#about{
  display: flex;
  justify-content: space-around;
  color: white;
  border: 1px solid white;
  display: flex;
  padding: 10px;
  text-align: center;
  inline-size: auto;
}

#name:hover{


font-family: 'Luxurious Roman', cursive;
}
