#heading1{
  font-family: 'Oswald', sans-serif;
color: whitesmoke;
  text-align: center;
  padding-top: 30px;
}

body{
  background-color: black;
}

header{
  display: flex;
  justify-content: space-around;
  border: 1px solid white;
  border-left-style: none;
  border-right-style: none;

  
}
header>span{
  color: white;
  
  
  display: flex;
  padding: 10px;
  text-align: center;
  justify-content: space-around;
  inline-size: 20%;
}

#about{
  display: flex;
  justify-content: space-around;
  color: white;
  border: 1px solid white;
  
  padding: 10px;
  
  inline-size: 30%;
  align-items: flex-end;
}

#name:hover{


font-family: 'Luxurious Roman', cursive;
}
